	<footer id="footer" role="contentinfo">
		<a href="#" class="gotop js-gotop"><i class="icon-arrow-up2"></i></a>
		<div class="container">
			<div class="">
				<div class="col-md-12 text-center">
					<p>{{ with .Site.Params.footer.copyright }}{{ . | markdownify }}{{ end }}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<ul class="social social-circle">
						<li><a href="https://github.com/coolsms"><i class="icon-github"></i></a></li>
						<li><a href="https://medium.com/nurigo"><i class="icon-pencil"></i></a></li>
						<li><a href="http://facebook.com/nurigoinc"><i class="icon-facebook"></i></a></li>
						<li><a href="https://vimeo.com/user23085628/videos"><i class="icon-vimeo"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
